.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* NavBar */

.navLogo{
  height: 50px;
}
.socialNavbar{
  height: 25px;
  margin: 2px;
  
}
.linkedin:hover{
  background-color: #1b64ea;
  border-radius: 10%;
}
.youtube:hover{
  background-color: rgb(207, 64, 64);
  border-radius: 10%;
}
.facebook:hover{
  background-color: rgb(87, 137, 228);
  border-radius: 10%;
}

.bottomLink{
  color: white;
  text-decoration: none;
  margin-left: 1%;
  margin-right: 1%;
}
.bottomLink:hover{
  text-decoration: underline;
}
.navMenu{
  color: black;
  text-decoration: none;
}
.navMenurev{
  color: #FFB923;
  text-decoration: none;
}
.navMenu:hover{
  color: #ffc13b;
  text-decoration: none;
}
.inputRounded .MuiOutlinedInput-root {
  border-radius: 20px;
}